* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #161640;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.brand-title {
  font-size: 2rem;
  line-height: 60px;
}
.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-links ul li {
  padding: 0 10px;
}
.navbar-links ul li a {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 60px;
}
.navbar-links ul li a:hover {
  background-color: #050577;
}

.toggle-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 30px;
}
.toggle-btn .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
}
.style {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out, opacity 0.5s ease-out;
}

#home {
  background-color: #0707fe;
}
#about {
  background-color: #04df42;
}
#blog {
  background-color: #030303;
  color: #fff;
}
#contact {
  background-color: #ff0000;
}

@media (max-width: 850px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }
  .brand-title {
    font-size: 1.3rem;
  }

  .toggle-btn {
    display: flex;
  }
  .navbar-links {
    width: 100%;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
  }
  .navbar-links ul {
    flex-direction: column;
    align-items: center;
    background-color: #21219f;
    width: 100%;
  }
  .navbar-links ul li a {
    padding: 10px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  .navbar-links ul li a:hover {
    background-color: blue;
    padding: 10px 100px;
    border-radius: 5px;
  }

  .navbar.active .navbar-links {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  }

  .navbar.active .toggle-btn .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar.active .toggle-btn .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar.active .toggle-btn .bar:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
}
