.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}


img {
     width: 200px;
     height: 200px;
}
button{
     background-color: #030362;
     color: aliceblue;
     padding: 5px 15px;
     font-size: 20px;
     border-radius: 5px;
}